.movie-details-container {
    margin-left: 1vw;
    margin-top: 2vh;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

.genres-container {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.genre {
    background-color: #3c3c3c;
    margin-left: 5px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.release-date {
    margin-top: 1rem;
}

